<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>TestWebApplication</display-name>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Catalogue</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>fr.utbm.projetLo54Servlet.inscription.ServletInscription</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Catalogue</servlet-name>
        <servlet-class>fr.utbm.projetLo54Servlet.catalogue.ServletCatalogue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Catalogue</servlet-name>
        <url-pattern>/Catalogue</url-pattern>
    </servlet-mapping>
</web-app>
